<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Asignar recompensa</h4>
            </div>
            <div class="modal-body">
                <h4>Recompensa para</h4>
                <pre>Nivel 1</pre>
                <form>
                    <fieldset>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Recompensa</label>
                                    <select class="form-control">
                                        <option>Elige</option>
                                        <option>Recompensa 1</option>
                                        <option>Recompensa 2</option>
                                        <option>Recompensa 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Cantidad</label>
                                    <select class="form-control">
                                        <option>Elige</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <p>La recompensa seleccionada ha sido patrocinada por <strong>Nombre del patrocinador</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="$hide()">Guardar</button>
            </div>
        </div>
    </div>
</div>
