<aside class="sidebar fixed">
  <div class="brand-logo">
    <div id="logo">
      <!--<div class="foot1"></div>
      <div class="foot2"></div>
      <div class="foot3"></div>
      <div class="foot4"></div>-->
      <img src="assets/img/lfs-logo.png" class="img-responsive">
    </div>
  </div>
  <div class="user-logged-in">
    <div class="content">
      <div class="user-name">Username</div>
      <div class="user-actions">
        30/06/2017
      </div>
    </div>
  </div>
  <ul class="menu-links" ng-cloak>
    <a menu-link href="#/dashboard" icon="md md-dashboard">Incio</a>
    <!--<li menu-toggle path="/apps" name="APPS" icon="md md-camera">
      <a menu-link href="#/apps/todo" name="Todo">
        <span id="todosCount" class="pull-right badge z-depth-0" ng-bind="todosCount"></span>
        Todo
      </a>
      <a menu-link href="#/apps/crud" name="Crud">
        <span class="pull-right badge theme-primary-bg z-depth-0">9</span>
        Crud
      </a>
    </li>-->
    <li menu-toggle path="/concursos" name="Concursos" icon="md md-view-carousel">
      <a menu-link href="#/concursos/concursos-configurar">Configurar</a>
      <a menu-link href="#/concursos/concursos-detalle">Detalle</a>
    </li>
    <!--
    <li menu-toggle path="/forms" name="Forms" icon="md md-input">
      <a menu-link href="#/forms/basic">Basic forms</a>
      <a menu-link href="#/forms/advanced">Advanced elements</a>
      <a menu-link href="#/forms/validation">Validation</a>
    </li>
    <li menu-toggle path="/tables" name="Tables" icon="md md-list">
      <a menu-link href="#/tables/basic">Basic tables</a>
      <a menu-link href="#/tables/data">Data tables</a>
    </li>
    <li menu-toggle path="/maps" name="Maps" icon="md md-place">
      <a menu-link href="#/maps/full-map">Full map</a>
      <a menu-link href="#/maps/map-widgets">Map widgets</a>
      <a menu-link href="#/maps/vector-map">Vector map</a>
    </li>
    <a menu-link href="#/charts" icon="md md-insert-chart">Charts</a>
    <li menu-toggle path="/pages" name="Extra pages" icon="md md-favorite-outline">
      <a target="_blank" href="pages/login.html">Login</a>
      <a target="_blank" href="pages/404.html">404</a>
      <a target="_blank" href="pages/500.html">500</a>
      <a target="_blank" href="pages/material-bird.html">Easter Egg</a>
    </li>
    <a menu-link href="#/documentation" icon="md md-insert-drive-file">Documentation</a>-->
  </ul>
</aside>
