<section ng-controller="ConcursosListadoControlador as clc">
    <div class="page-header">
        <h1><i class="md md-visibility"></i> Listado de concursos</h1>
        <p class="lead">
            En esta sección podrás visualizar el listado de todos los concursos creados
        </p>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <div class="row no-m">
                <div class="well white">
                    <h3 class="table-title p-20">Concursos</h3>
                    <table class="table table-full table-full-small">
                        <thead>
                            <tr>
                                <th class="text-center">Clave</th>
                                <th class="text-center">Inicio</th>
                                <th class="text-center">Término</th>
                                <th class="text-center">Participantes</th>
                                <th class="text-center">Recompensas asignados</th>
                                <th class="text-center">Estatus</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="concurso in clc.listaConcursos">
                                <td class="text-center">{{concurso.clave}}</td>
                                <td class="text-center">{{concurso.fechaInicio}}</td>
                                <td class="text-center">{{concurso.fechaFinal}}</td>
                                <td class="text-center">{{concurso.totalParticipantes}}</td>
                                <td class="text-center">{{concurso.totalRecompensas}}</td>
                                <td class="text-center"><span class="label label-default">{{concurso.estatus}}</span></td>
                                <td class="text-center">
                                    <button 
                                        type="button" 
                                        class="btn btn-link btn-round" 
                                        data-toggle="tooltip" 
                                        data-placement="top"
                                        ng-click="clc.verConcurso(concurso)"
                                        title="Detalles"><i class="md md-visibility"></i>
                                    </button>
                                    <button 
                                        type="button" 
                                        class="btn btn-link btn-round" 
                                        data-toggle="tooltip" 
                                        data-placement="top"
                                        ng-click="clc.editarConcurso(concurso)"
                                        title="Editar"><i class="md md-mode-edit"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <span class="help-block text-right">
                        <i class="md md-visibility"></i> Ver detalles |
                        <i class="md md md-mode-edit"></i> Editar concurso
                    </span>
                    <div class="row no-gutter">
                        <div class="form-group pull-right">
                            <button type="submit" class="btn btn-primary" ng-click="clc.agregarConcurso()">Agregar un concurso</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="well white">
                <fieldset>
                    <legend><i class="md md-filter-list"></i> Filtros</legend>
                    <div class="form-group">
                        <label class="control-label">Estatus</label>
                        <select class="form-control" 
                                ng-model="clc.filtro.estatus" 
                                ng-options="estatus.valor as estatus.descripcion for estatus in clc.listaEstatusConcurso">
                            <option value="">Seleccionar</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mes de realización</label>
                        <select class="form-control" ng-model="clc.filtro.mes">
                            <option value="">Seleccionar</option>
                            <option value="01">Enero</option>
                            <option value="02">Febrero</option>
                            <option value="03">Marzo</option>
                            <option value="04">Abril</option>
                            <option value="05">Mayo</option>
                            <option value="06">Junio</option>
                            <option value="07">Julio</option>
                            <option value="08">Agosto</option>
                            <option value="09">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Año de realización</label>
                        <select class="form-control" 
                                ng-model="clc.filtro.anio" 
                                ng-options="anio.valor as anio.descripcion for anio in clc.listaAnios">
                            <option value="">Seleccionar</option>
                        </select>
                    </div>
                    <div class="form-group pull-right">
                        <button type="reset" class="btn btn-default" ng-click="clc.limpiar()">Limpiar</button>
                        <button type="submit" class="btn btn-info" ng-click="clc.filtrar()">Filtrar</button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</section>
