<section class="forms-advanced" ng-controller="ConcursosConfigurarControlador as ccc">
    <div class="page-header">
        <h1>
      <i class="md md-settings"></i>
      Configuración de concurso
    </h1>
        <p class="lead">
            En esta sección podrás configurar y/o editar la configuración de un concurso siempre y cuando no esté activo.
        </p>
    </div>
    <div class="row m-b-20">
        <form class="form-floating placeholder-form">
            <div class="col-md-12">
                <div class="well white">
                    <fieldset>
                        <legend><i class="md md-filter-1"></i> Fecha del concurso</legend>
                        <div class="col-lg-6">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">Mes</label>
                                    <select class="form-control" ng-model="ccc.mes">
                                        <option value="">Elije</option>
                                        <option value="01">Enero</option>
                                        <option value="02">Febrero</option>
                                        <option value="03">Marzo</option>
                                        <option value="04">Abril</option>
                                        <option value="05">Mayo</option>
                                        <option value="06">Junio</option>
                                        <option value="07">Julio</option>
                                        <option value="08">Agosto</option>
                                        <option value="09">Septiembre</option>
                                        <option value="10">Octubre</option>
                                        <option value="11">Noviembre</option>
                                        <option value="12">Diciembre</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"><i class="md md-timer"></i> Año</label>
                                    <select class="form-control" 
                                            ng-model="ccc.anio" 
                                            ng-options="anio.valor as anio.descripcion for anio in ccc.listaAnios">
                                        <option value="">Selecciona</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well white">
                    <fieldset>
                        <legend><i class="md md-filter-2"></i> Series y tiempo</legend>
                        <div class="row m-5"ng-repeat="nivel in ccc.listaNiveles">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Series para Nv{{nivel.numero}}</label>
                                     <select class="form-control" 
                                            ng-model="nivel.serie" 
                                            ng-options="serie.valor as serie.descripcion for serie in ccc.listaSeries">
                                        <option value="">Selecciona</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label"><i class="md md-timer"></i> para Nv{{nivel.numero}}</label>
                                    <select class="form-control" 
                                            ng-model="nivel.tiempo" 
                                            ng-options="serie.valor as serie.descripcion for tiempo in ccc.listaTiempos">
                                        <option value="">Selecciona</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well white">
                    <fieldset>
                        <legend><i class="md md-filter-3"></i> Recompensas</legend>
                        <div class="row amber lighten-5 m-5">
                            <div class="col-lg-9">
                                <div class="form-group">
                                    <label class="control-label"><i class="md md-stars"></i> Recompensa</label>
                                    <select class="form-control">
                                        <option>Elije</option>
                                        <option>Recompensa activa 1</option>
                                        <option>Recompensa activa 2</option>
                                        <option>Recompensa activa 3</option>
                                        <option>Recompensa activa 4</option>
                                        <option>Recompensa activa 5</option>
                                    </select>
                                    <span class="help-block">Nombre del patrocinador de la recompensa (aparece al elegir recompensa)</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label"><i class="md md-sort"></i> Cantidad</label>
                                    <select class="form-control">
                                        <option>Elije</option>
                                        <option>10 unidades</option>
                                        <option>20 unidades</option>
                                        <option>30 unidades</option>
                                        <option>40 unidades</option>
                                        <option>50 unidades</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row lime lighten-5 m-5">
                            <div class="col-lg-9">
                                <div class="form-group">
                                    <label class="control-label"><i class="md md-stars"></i> Recompensa</label>
                                    <select class="form-control">
                                        <option>Elije</option>
                                        <option>Recompensa activa 1</option>
                                        <option>Recompensa activa 2</option>
                                        <option>Recompensa activa 3</option>
                                        <option>Recompensa activa 4</option>
                                        <option>Recompensa activa 5</option>
                                    </select>
                                    <span class="help-block">Nombre del patrocinador de la recompensa (aparece al elegir recompensa)</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label"><i class="md md-sort"></i> Cantidad</label>
                                    <select class="form-control">
                                        <option>Elije</option>
                                        <option>10 unidades</option>
                                        <option>20 unidades</option>
                                        <option>30 unidades</option>
                                        <option>40 unidades</option>
                                        <option>50 unidades</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cyan lighten-5 m-5">
                            <div class="col-lg-9">
                                <div class="form-group">
                                    <label class="control-label"><i class="md md-stars"></i> Recompensa</label>
                                    <select class="form-control">
                                        <option>Elije</option>
                                        <option>Recompensa activa 1</option>
                                        <option>Recompensa activa 2</option>
                                        <option>Recompensa activa 3</option>
                                        <option>Recompensa activa 4</option>
                                        <option>Recompensa activa 5</option>
                                    </select>
                                    <span class="help-block">Nombre del patrocinador de la recompensa (aparece al elegir recompensa)</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label"><i class="md md-sort"></i> Cantidad</label>
                                    <select class="form-control">
                                        <option>Elije</option>
                                        <option>10 unidades</option>
                                        <option>20 unidades</option>
                                        <option>30 unidades</option>
                                        <option>40 unidades</option>
                                        <option>50 unidades</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row purple lighten-5 m-5">
                            <div class="col-lg-9">
                                <div class="form-group">
                                    <label class="control-label"><i class="md md-stars"></i> Recompensa</label>
                                    <select class="form-control">
                                        <option>Elije</option>
                                        <option>Recompensa activa 1</option>
                                        <option>Recompensa activa 2</option>
                                        <option>Recompensa activa 3</option>
                                        <option>Recompensa activa 4</option>
                                        <option>Recompensa activa 5</option>
                                    </select>
                                    <span class="help-block">Nombre del patrocinador de la recompensa (aparece al elegir recompensa)</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label"><i class="md md-sort"></i> Cantidad</label>
                                    <select class="form-control">
                                        <option>Elije</option>
                                        <option>10 unidades</option>
                                        <option>20 unidades</option>
                                        <option>30 unidades</option>
                                        <option>40 unidades</option>
                                        <option>50 unidades</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row pink lighten-5 m-5">
                            <div class="col-lg-9">
                                <div class="form-group">
                                    <label class="control-label"><i class="md md-stars"></i> Recompensa</label>
                                    <select class="form-control">
                                        <option>Elije</option>
                                        <option>Recompensa activa 1</option>
                                        <option>Recompensa activa 2</option>
                                        <option>Recompensa activa 3</option>
                                        <option>Recompensa activa 4</option>
                                        <option>Recompensa activa 5</option>
                                    </select>
                                    <span class="help-block">Nombre del patrocinador de la recompensa (aparece al elegir recompensa)</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label"><i class="md md-sort"></i> Cantidad</label>
                                    <select class="form-control">
                                        <option>Elije</option>
                                        <option>10 unidades</option>
                                        <option>20 unidades</option>
                                        <option>30 unidades</option>
                                        <option>40 unidades</option>
                                        <option>50 unidades</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <button type="reset" class="btn btn-default">Cancelar</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</section>
