<section class="forms-advanced" ng-controller="ConcursosConfigurarControlador as ccc">
    <div class="page-header">
        <h1>
            <i class="md md-settings"></i>
            Configuración de concurso
        </h1>
        <p class="lead">
            En esta sección podrás configurar y/o editar la configuración de un concurso siempre y cuando no esté activo.
        </p>
    </div>
    <div class="row m-b-20">
        <form class="form-floating placeholder-form">
            <div class="col-md-12">
                <div class="well white">
                    <h4><i class="md md-filter-1"></i> Fecha del concurso</h4>
                    <fieldset>
                        <div class="col-lg-6">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label normal">Mes</label>
                                    <select class="form-control" ng-model="ccc.concurso.mes">
                                        <option value="">Elije</option>
                                        <option value="01">Enero</option>
                                        <option value="02">Febrero</option>
                                        <option value="03">Marzo</option>
                                        <option value="04">Abril</option>
                                        <option value="05">Mayo</option>
                                        <option value="06">Junio</option>
                                        <option value="07">Julio</option>
                                        <option value="08">Agosto</option>
                                        <option value="09">Septiembre</option>
                                        <option value="10">Octubre</option>
                                        <option value="11">Noviembre</option>
                                        <option value="12">Diciembre</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label normal"><i class="md md-timer"></i> Año</label>
                                    <select class="form-control" ng-model="ccc.concurso.anio" ng-options="anio.valor as anio.descripcion for anio in ccc.listaAnios">
                                        <option value="">Selecciona</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <button type="reset" class="btn btn-default">Cancelar</button>
                            <button type="submit" class="btn btn-primary" ng-click="ccc.guardarConcurso()">Guardar</button>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="col-md-12">
                <div class="well white">
                    <h4><i class="md md-filter-2"></i> Niveles</h4>
                    <div class="table-responsive">
                        <table class="table table-full table-full-small">
                            <thead>
                                <tr>
                                    <th class="text-center">Nivel</th>
                                    <th class="text-center">Series</th>
                                    <th class="text-center">Tiempo de respuesta</th>
                                    <th class="text-center">Recompensa</th>
                                    <th class="text-center">Patrocinador</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="nivel in ccc.listaNiveles" class="form-group">
                                    <td class="text-center">{{nivel.consecutivo}}</td>
                                    <td class="text-center">
                                        <input type="number" ng-model="nivel.series" min="0" />
                                    </td>
                                    <td class="text-center">
                                        <input type="number" ng-model="nivel.tiempo" min="0" />
                                    </td>
                                    <td class="text-center">
                                        <p><strong>{{nivel.recompensa.cantidad}}</strong> {{nivel.recompensa.descripcion}}</p>
                                    </td>
                                    <td class="text-center">
                                        <p>{{nivel.recompensa.patrocinador.nombre}}</p>
                                    </td>
                                    <td class="text-center">
                                        <!-- cuando no hay ninguna recompensa -->
                                        <button type="button" 
                                                class="btn btn-link btn-round" 
                                                ng-click="ccc.agregarRecompensa(nivel)"
                                                data-toggle="tooltip" 
                                                data-placement="top" 
                                                title="Asignar">
                                            <i  ng-class="nivel.recompensa.agrego ? 'md md-edit' : 'md md-add-box' "></i>
                                        </button>
                                        <!-- cuando hay recompensa -->
                                        <button type="button" 
                                                ng-if="nivel.recompensa.agrego"
                                                class="btn btn-link btn-round" 
                                                ng-click="ccc.eliminarRecompensa(nivel)" 
                                                data-toggle="tooltip" data-placement="top" 
                                                title="Eliminar">
                                            <i class="md md-delete"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>