<div class="dashboard" ng-controller="DashboardController">
    <div class="row no-gutter">
        <div class="col-sm-12 col-md-12 col-lg-9">
            <div class="p-20 clearfix">
                <h4 class="grey-text"><i class="md md-dashboard"></i><span class="hidden-xs">Estado actual del concurso</span></h4>
            </div>
            <div class="p-20 no-p-t">
                <div class="row gutter-14 kpi-dashboard">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header relative">
                                <div class="card-title">Concurso activo</div>
                                <div class="small grey-text">The last 3 orders from the website</div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-small grey-text">
                                    <colgroup>
                                        <col width="">
                                        <col width="60" />
                                        <col width="50" />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td>Weekly sales</td>
                                            <td>43</td>
                                            <td><i class="md md-arrow-drop-up green-text"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Weekly profits</td>
                                            <td>$4181,-</td>
                                            <td><i class="md md-arrow-drop-up green-text"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Monthly visits</td>
                                            <td>14000</td>
                                            <td><i class="md md-arrow-drop-down red-text"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Bounce rate</td>
                                            <td>40%</td>
                                            <td><i class="md md-arrow-drop-up green-text"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card bordered">
                            <div class="card-header">
                                <span class="card-title">Próximo concurso</span>
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action clearfix">
                                <a href="" class="btn btn-link btn-icon"><i class="md md-favorite red-text"></i></a>
                                <a href="" class="btn btn-link btn-icon"><i class="md md-refresh black-text"></i></a>
                                <div class="pull-right">
                                    <a href="" class="btn btn-link black-text">This is a link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutter-14">
                    <div class="col-md-12">
                        <div class="card bordered">
                            <div class="card-header">
                                <span class="card-title">Historial de concursos</span>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-full table-full-small">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Last</th>
                                            <th>Summary</th>
                                            <th class="text-right">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Abbey</td>
                                            <td>Johnson</td>
                                            <td>Fuisset delicatissimi duo, qui ut animal noluisse erroribus.</td>
                                            <td class="text-right">
                                                <button type="button" class="btn btn-link btn-round" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="md md-mode-edit"></i></button>
                                                <button type="button" class="btn btn-link btn-round" data-toggle="tooltip" data-placement="top" data-original-title="Copy row"><i class="md md-content-copy"></i></button>
                                                <button type="button" class="btn btn-link btn-round" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="md md-delete"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Alex</td>
                                            <td>Nelson</td>
                                            <td>Ea eum veniam audire. Dicant vituperata consequuntur.</td>
                                            <td class="text-right">
                                                <button type="button" class="btn btn-link btn-round" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="md md-mode-edit"></i></button>
                                                <button type="button" class="btn btn-link btn-round" data-toggle="tooltip" data-placement="top" data-original-title="Copy row"><i class="md md-content-copy"></i></button>
                                                <button type="button" class="btn btn-link btn-round" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="md md-delete"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Mary</td>
                                            <td>Peterson</td>
                                            <td>Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren.</td>
                                            <td class="text-right">
                                                <button type="button" class="btn btn-link btn-round" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="md md-mode-edit"></i></button>
                                                <button type="button" class="btn btn-link btn-round" data-toggle="tooltip" data-placement="top" data-original-title="Copy row"><i class="md md-content-copy"></i></button>
                                                <button type="button" class="btn btn-link btn-round" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="md md-delete"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-action clearfix">
                                <div class="row">
                                    <div class="col-lg-2 col-md-4 col-sm-5 col-xs-12">
                                        <a href="" class="btn btn-link btn-icon"><i class="md md-favorite red-text"></i></a>
                                        <a href="" class="btn btn-link btn-icon"><i class="md md-refresh black-text"></i></a>
                                    </div>
                                    <div class="col-lg-10 col-md-8 col-sm-7 col-xs-12 text-right">
                                        <ul class="pagination">
                                            <li class="disabled"><a href="">«</a></li>
                                            <li class="active"><a href="">1</a></li>
                                            <li><a href="">2</a></li>
                                            <li><a href="">3</a></li>
                                            <li><a href="">4</a></li>
                                            <li class="hidden-xs"><a href="">5</a></li>
                                            <li><a href="">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class="p-20">
                <h4 class="grey-text m-b-30">Action feed</h4>
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" ng-init="actionTab=1">
                        <li role="presentation" class=""><a ng-click="actionTab=1" aria-controls="home" role="tab" data-toggle="tab">Timeline</a></li>
                        <li role="presentation"><a ng-click="actionTab=2" aria-controls="home" role="tab" data-toggle="tab">Messages</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content m-t-10">
                        <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==1}">
                            <ul class="timeline" ng-init="(rows=[]).length=5;">
                                <li ng-repeat="i in rows track by $index">
                                    <div class="timeline-badge"><img placeholder-img class="img-responsive" /></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title" placeholder-name></h4>
                                        </div>
                                        <div class="timeline-body">
                                            <span placeholder-p></span>
                                            <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==2}">
                            <ul class="timeline" ng-init="(rows=[]).length=5;">
                                <li ng-repeat="i in rows track by $index">
                                    <div class="timeline-badge" placeholder-icon></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title" placeholder-name></h4>
                                        </div>
                                        <div class="timeline-body">
                                            <span spanlaceholder-p></span>
                                            <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
